### Seciton2 : 주요 프로그래밍 원칙

#### 5. 변수의 종류

In [5]:
# integer
x = 2

In [6]:
x

2

In [7]:
type(x)

int

In [8]:
# float / double 
y = 2.5

In [9]:
y

2.5

In [10]:
type(y)

float

In [11]:
# string
a = "hello"
b = "2"

In [12]:
a

'hello'

In [13]:
type(a)

str

In [14]:
b

'2'

In [15]:
type(b)

str

In [16]:
# ===========================================================

In [17]:
# logical / boolean
q1 = True

In [18]:
q1

True

In [19]:
type(q1)

bool

#### 6. 변수 사용하기

In [20]:
A = 10

In [21]:
B = 5

In [22]:
# Arithemetics

In [23]:
C = A + B

In [24]:
D = B / A

In [25]:
C

15

In [26]:
D

0.5

In [27]:
print(D)

0.5

In [28]:
C
D

0.5

In [29]:
print(C)
print(D)

15
0.5

In [30]:
import math

In [31]:
math.sqrt(A)

3.1622776601683795

In [32]:
math.sqrt(144)

12.0

In [33]:
round(math.sqrt(A))  # 반올림

3

In [34]:
greeting = "Hello"
name = "Bob"

In [35]:
message = greeting + " " + name

In [36]:
message

'Hello Bob'

#### 7. 불리언 변수와 연산자

In [37]:
# Boolean / Logical:
# True
# False

In [38]:
4 < 5

True

In [39]:
4 > 5

False

In [40]:
4 == 5

False

In [41]:
10 > 100

False

In [42]:
4 != 5

True

In [43]:
# ==
# != <>
# <
# >
# <=
# >=
# and
# or
# not

In [44]:
result = 4 < 5

In [45]:
result

True

In [46]:
type(result)

bool

In [47]:
result2 = not(5 > 1)

In [48]:
result2

False

In [49]:
type(result2)

bool

In [50]:
# 결과가 하나라도 참이면 -> 참 
result or reuslt2

True

In [51]:
# 둘다 참 -> 참
# 참, 거짓 -> 거짓
result and result2

False

#### 8. "While" 루프

In [52]:
while False:
  print("Hello")

In [53]:
counter = 0 
while counter < 12:
  print(counter)
  counter = counter + 1
print("Hello")

0
1
2
3
4
5
6
7
8
9
10
11
Hello

In [54]:
for i in range(5):
  print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [55]:
range(5)

range(0, 5)

In [56]:
list(range(5))

[0, 1, 2, 3, 4]

In [58]:
for i in range(7):
  print("Hello Python: ", i )

Hello Python:  0
Hello Python:  1
Hello Python:  2
Hello Python:  3
Hello Python:  4
Hello Python:  5
Hello Python:  6

In [59]:
# Another way
mylist = [10, 100, 1000]

In [60]:
mylist

[10, 100, 1000]

In [61]:
for jj in mylist:
  print("jj is equal to: ", jj)

jj is equal to:  10
jj is equal to:  100
jj is equal to:  1000

#### 10. "if"문

In [63]:
import numpy as np
from numpy.random import randn

In [64]:
randn()

-1.2295204983833028

In [75]:
answer = None
x = randn()
if x > 1:
  answer = "Greater than 1"
print(x)
print(answer)

1.0411354260499714
Greater than 1

In [76]:
answer = None
x = randn()
if x > 1:
  answer = "Greater than 1"
else:
  answer = "Less than 1"
print(x)
print(answer)

-0.009074249596210218
Less than 1

In [78]:
# Nested Statements
answer = None
x = randn()
if x > 1:
  answer = "Greater than 1"
else:
  if x >= -1:
    answer = "Between -1 and 1"
  else:
    answer = "Less than -1"
print(x)
print(answer)

-0.9556632569112105
Between -1 and 1

In [79]:
# Chained Statements
answer = None
x = randn()
if x > 1:
  answer = "Greater than 1"
elif x >= -1:
  answer = "Between -1 and 1"
else:
  answer = "Less than -1"
print(x)
print(answer)

0.26889442727839163
Between -1 and 1

#### 11. 파이썬에서 코드 들여쓰기

In [83]:
# Chained Statements
answer = None
x = randn()
if x > 1:
  answer = "Greater than 1"
elif x >= -1:
  answer = "Between -1 and 1"
else:
  answer = "Less than -1"
print("Hello")
print(x)
print(answer)

Hello
-0.48985646719668036
Between -1 and 1

#### 13. 과제: 큰 수의 법칙

In [89]:
import numpy as np 
from numpy.random import randn
N = 10000
counter = 0
for i in randn(N):
  if(i > -1 and i < 1):
    counter = counter + 1
answer = counter / N
print(answer)

0.6821