In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])

In [9]:
df

                   A         B         C         D
2013-01-01  0.680730  0.100346 -0.599908  0.171856
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513
2013-01-03  0.194997 -1.582570  0.249657  0.157081
2013-01-04 -1.466236  0.581194 -0.294830 -1.194176
2013-01-05  0.790966  0.594933  0.234671 -0.328631
2013-01-06 -0.489520 -0.600232 -0.623538 -1.280363

In [10]:
df3 = pd.DataFrame([1,2,3], index=['idx1','idx2','idx2'], columns=[1])

In [11]:
df3

      1
idx1  1
idx2  2
idx2  3

In [12]:
df

                   A         B         C         D
2013-01-01  0.680730  0.100346 -0.599908  0.171856
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513
2013-01-03  0.194997 -1.582570  0.249657  0.157081
2013-01-04 -1.466236  0.581194 -0.294830 -1.194176
2013-01-05  0.790966  0.594933  0.234671 -0.328631
2013-01-06 -0.489520 -0.600232 -0.623538 -1.280363

In [13]:
df.head()

                   A         B         C         D
2013-01-01  0.680730  0.100346 -0.599908  0.171856
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513
2013-01-03  0.194997 -1.582570  0.249657  0.157081
2013-01-04 -1.466236  0.581194 -0.294830 -1.194176
2013-01-05  0.790966  0.594933  0.234671 -0.328631

In [14]:
df.tail()

                   A         B         C         D
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513
2013-01-03  0.194997 -1.582570  0.249657  0.157081
2013-01-04 -1.466236  0.581194 -0.294830 -1.194176
2013-01-05  0.790966  0.594933  0.234671 -0.328631
2013-01-06 -0.489520 -0.600232 -0.623538 -1.280363

In [ ]:
df.head(2)

                   A         B         C         D
2013-01-01  0.680730  0.100346 -0.599908  0.171856
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513

In [16]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.790966  0.594933  0.234671 -0.328631
2013-01-06 -0.489520 -0.600232 -0.623538 -1.280363

In [17]:
df

                   A         B         C         D
2013-01-01  0.680730  0.100346 -0.599908  0.171856
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513
2013-01-03  0.194997 -1.582570  0.249657  0.157081
2013-01-04 -1.466236  0.581194 -0.294830 -1.194176
2013-01-05  0.790966  0.594933  0.234671 -0.328631
2013-01-06 -0.489520 -0.600232 -0.623538 -1.280363

In [19]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.013594 -0.274292 -0.294502 -0.492958
std    0.854725  0.855796  0.440456  0.632982
min   -1.466236 -1.582570 -0.733065 -1.280363
25%   -0.318391 -0.704626 -0.617631 -1.016510
50%    0.282811 -0.249943 -0.447369 -0.406072
75%    0.603204  0.460982  0.102296  0.035653
max    0.790966  0.594933  0.249657  0.171856

In [22]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.680730    0.370626    0.194997   -1.466236    0.790966   -0.489520
B    0.100346   -0.739425   -1.582570    0.581194    0.594933   -0.600232
C   -0.599908   -0.733065    0.249657   -0.294830    0.234671   -0.623538
D    0.171856   -0.483513    0.157081   -1.194176   -0.328631   -1.280363

In [23]:
df.sort_index(ascending=False)

                   A         B         C         D
2013-01-06 -0.489520 -0.600232 -0.623538 -1.280363
2013-01-05  0.790966  0.594933  0.234671 -0.328631
2013-01-04 -1.466236  0.581194 -0.294830 -1.194176
2013-01-03  0.194997 -1.582570  0.249657  0.157081
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513
2013-01-01  0.680730  0.100346 -0.599908  0.171856

In [24]:
df.sort_values(by='A', ascending=False)

                   A         B         C         D
2013-01-05  0.790966  0.594933  0.234671 -0.328631
2013-01-01  0.680730  0.100346 -0.599908  0.171856
2013-01-02  0.370626 -0.739425 -0.733065 -0.483513
2013-01-03  0.194997 -1.582570  0.249657  0.157081
2013-01-06 -0.489520 -0.600232 -0.623538 -1.280363
2013-01-04 -1.466236  0.581194 -0.294830 -1.194176

In [26]:
# True False true false